# python 3.11
# pip-tools-7.4.1

python-dotenv
gradio

# lang stuff
langchain
langgraph
langchain_community
langchain-google-genai
langchain-chroma

# tool
pypdf
protobuf
chromadb
open-clip-torch

# youtube video + sub
opencv-python
pytubefix
pysrt
opencv-python

pytest
